<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Civil.Properties.Settings.civildataConnectionString"
            connectionString="Data Source=C:\Users\Bhushan\Documents\civildata.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Civil.Properties.Settings.cividatanewConnectionString"
            connectionString="Data Source=BHUSHAN-PC;Initial Catalog=cividatanew;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>